<table id="repo-files-table" class="ui single line table tw-mt-0" {{if .HasFilesWithoutLatestCommit}}hx-indicator="tr.notready td.message span" hx-trigger="load" hx-swap="morph" hx-get="{{.LastCommitLoaderURL}}"{{end}}>
	<caption class="tw-sr-only">
		{{ctx.Locale.Tr "repo.files.caption"}}
	</caption>
	<thead class="tw-sr-only">
		<th>{{ctx.Locale.Tr "repo.files.filename"}}</th>
		<th>{{ctx.Locale.Tr "repo.files.last_commit_message"}}</th>
		<th>{{ctx.Locale.Tr "repo.files.last_commit_date"}}</th>
	</thead>
	<tbody>
		<tr class="commit-list">
			<td class="tw-overflow-hidden repo-files-table-latest-commit-cell repo-files-table-latest-commit-left" colspan="2">
				<div class="tw-flex">
					<div class="latest-commit">
						{{template "repo/latest_commit" .}}
					</div>
				</div>
			</td>
			<td class="text grey right age repo-files-table-latest-commit-cell tw-py-0">{{if .LatestCommit}}{{if .LatestCommit.Committer}}{{ctx.TimeSince .LatestCommit.Committer.When}}{{end}}{{end}}</td>
		</tr>
		{{if .HasParentPath}}
			<tr class="has-parent">
				<td colspan="3"><a class="muted" href="{{.BranchLink}}{{if .ParentPath}}{{PathEscapeSegments .ParentPath}}{{end}}">{{svg "octicon-reply" 16 "tw-mr-2"}}..</a></td>
			</tr>
		{{end}}
		{{range $item := .Files}}
			{{$entry := $item.Entry}}
			{{$commit := $item.Commit}}
			<tr data-entryname="{{$entry.Name}}" data-ready="{{if $commit}}true{{else}}false{{end}}" class="{{if not $commit}}not{{end}}ready entry">
				<td class="name four wide">
					<span class="truncate">
						{{if $entry.IsSubmodule}}
							{{$submodule := $item.Submodule}}
							{{$refURL := $submodule.ResolveUpstreamURL $.Repository.HTMLURL}}
							{{$icon := (svg "octicon-file-submodule" 16 "tw-mr-2")}}
							{{if $refURL}}
								<a class="muted" href="{{$refURL}}">{{$icon}}{{$entry.Name}}</a><span class="at">@</span><a href="{{$refURL}}/commit/{{PathEscape $submodule.Commit.String}}">{{ShortSha $submodule.Commit.String}}</a>
							{{else}}
								{{$icon}}{{$entry.Name}}<span class="at">@</span>{{ShortSha $submodule.Commit.String}}
							{{end}}
						{{else}}
							{{if $entry.IsDir}}
								{{$subJumpablePathName := $entry.GetSubJumpablePathName}}
								<a class="muted" href="{{$.TreeLink}}/{{PathEscapeSegments $subJumpablePathName}}" title="{{$subJumpablePathName}}">
									{{$subJumpablePathFields := StringUtils.Split $subJumpablePathName "/"}}
									{{$subJumpablePathFieldLast := (Eval (len $subJumpablePathFields) "-" 1)}}
									{{svg "octicon-file-directory-fill" 16 "tw-mr-2" -}}
									{{if eq $subJumpablePathFieldLast 0 -}}
										{{$subJumpablePathName}}
									{{else -}}
										{{$subJumpablePathPrefixes := slice $subJumpablePathFields 0 $subJumpablePathFieldLast -}}
										<span class="text light-2">{{StringUtils.Join $subJumpablePathPrefixes "/"}}</span>/{{index $subJumpablePathFields $subJumpablePathFieldLast}}
									{{end}}
								</a>
							{{else}}
								<a class="muted" href="{{$.TreeLink}}/{{PathEscapeSegments $entry.Name}}" title="{{$entry.Name}}">{{svg (printf "octicon-%s" (EntryIcon $entry)) 16 "tw-mr-2"}}{{$entry.Name}}</a>
							{{end}}
						{{end}}
					</span>
				</td>
				<td class="message nine wide">
					<span class="truncate">
						{{if $commit}}
							{{$commitLink := printf "%s/commit/%s" $.RepoLink (PathEscape $commit.ID.String)}}
							{{RenderCommitMessageLinkSubject $.Context $commit.Message $commitLink ($.Repository.ComposeMetas ctx)}}
						{{else}}
							<div class="ui active tiny slow centered inline"></div>
						{{end}}
					</span>
				</td>
				<td class="text right age three wide">{{if $commit}}{{ctx.TimeSince $commit.Committer.When}}{{end}}</td>
			</tr>
		{{end}}
	</tbody>
</table>
{{if and .ReadmeExist (or .IsMarkup .IsPlainText)}}
	{{template "repo/view_file" .}}
{{end}}
