{{if false}}
	{{/* to make html structure "likely" complete to prevent IDE warnings */}}
<html>
<body>
	<div>
{{end}}

	{{template "custom/body_inner_post" .}}

	</div>

	{{template "custom/body_outer_post" .}}

	{{if not .PageIsExtensionWorkspace}}{{template "base/footer_content" .}}{{end}}

	<script src="{{AssetUrlPrefix}}/js/index.js?v={{AssetVersion}}" onerror="alert('{{ctx.Locale.Tr "alert.asset_load_failed"}}'.replace('{path}', this.src))"></script>

	{{template "custom/footer" .}}
</body>
</html>
