{{$pronouns := .GetPronouns ctx.Data.IsSigned}}
['{{.Name}}', {key: '{{.Name}} {{.FullName}}', value: '{{.Name}}', name: '{{.Name}}', fullname: '{{if $pronouns}}{{ctx.Locale.Tr "name_with_pronouns.plain" (.FullName | TrustHTML) ($pronouns | TrustHTML)}}{{else}}{{.FullName}}{{end}}', avatar: '{{.AvatarLink ctx}}'}],
