{{/*
Show the existing ServiceMessages (either Modal, Banner or both)
*/}}

{{if .ModalServiceMessageTitle}}
	<dialog open="true">
		<article>
			<header>{{.ModalServiceMessageTitle}}</header>
			<div class="service-message-content">
				{{(.RenderedContent)}}
			</div>
			<div class="actions button-sequence">
				<form class="ui form" method="post" action="{{AppSubUrl}}/user/confirm?sm_type=modal&redirect_to={{.CurrentURL}}">
					<button class="ui primary ok button">{{svg "octicon-check"}} {{ctx.Locale.Tr "modal.confirm"}}</button>
				</form>
				<button class="ui ok button link-action" data-url="{{AppSubUrl}}/user/logout">{{svg "octicon-x"}} {{ctx.Locale.Tr "modal.cancel"}}</button>
			</div>
		</article>
	</dialog>
{{end}}
