{{template "base/head" .}}

<div class="page-content ui container">
	<h1>Buttons</h1>

	<p>
		Supported elements: <code class="inline-code-block">&lt;a&gt;</code>, <code class="inline-code-block">&lt;button&gt;</code>.
	</p>
	<p>
		Common classes: <code class="inline-code-block">button</code> (required), <code class="inline-code-block">disabled</code>.
	</p>
	<p>
		Display styles:
		<a href="#primary"><code class="inline-code-block">primary</code></a>,
		<a href="#secondary"><code class="inline-code-block">secondary</code></a>,
		<a href="#danger"><code class="inline-code-block">danger</code></a>.
		<br>
	</p>
	<p>
		Can optionally contain an icon.
	</p>

	<h2 id="primary">Primary</h2>
	<div class="button-sequence">
		<button class="primary button" type="button">
			Follow
		</button>
		<a class="primary disabled button" href="">
			{{svg "octicon-person"}}
			{{ctx.Locale.Tr "user.follow"}}
		</a>
	</div>

	<h2 id="secondary">Secondary</h2>
	<div class="button-sequence">
		<button class="secondary button" type="button">
			Follow
		</button>
		<a class="secondary disabled button" href="">
			{{svg "octicon-person"}}
			{{ctx.Locale.Tr "user.unfollow"}}
		</a>
	</div>

	<h2 id="danger">Danger</h2>
	<div class="button-sequence">
		<button class="danger button" type="button">
			Delete
		</button>
		<a class="danger disabled button" href="">
			{{svg "octicon-trash"}}
			Delete
		</a>
	</div>
</div>

{{template "base/footer" .}}
