{{template "base/head" .}}

<div class="page-content ui container">
	<h1>Dropdown</h1>
	<p>
		a.k.a. overflow menu, ellipsis menu
	</p>

	<p>
		Note: in this page some items have IDs. They are only used by end-to-end Playwright tests. Usually they would not be needed. Adding specific IDs or attributes only for testing outside of demo pages is discouraged.
	</p>

	<h2>Options</h2>
	<p>
		With explicit textual descriptions. They often come with a triangle icon
		and are used in search pages for changing sorting and filtering.
	</p>
	<div class="button-sequence">
		<details class="dropdown" id="dropdown-1">
			<summary class="options">
				Options {{svg "octicon-triangle-down" 14}}
			</summary>
			<div class="content">
				<ul>
					<li>
						<a id="dd1_g1_i1" href="#noscroll">Item 1</a>
					</li>
					<li>
						<a id="dd1_g1_i2" href="#noscroll">Item 2</a>
					</li>
					<li>
						<a id="dd1_g1_i3" href="#noscroll">Item 3</a>
					</li>
				</ul>
			</div>
		</details>

		<details class="dropdown" id="dropdown-2">
			<summary class="options">
				Options {{svg "octicon-triangle-down" 14}}
			</summary>
			<div class="content">
				<ul>
					<li>
						<a id="dd2_g1_i1" href="#noscroll">Item 1</a>
					</li>
					<li>
						<a id="dd2_g1_i2" href="#noscroll">Item 2</a>
					</li>
					<li>
						<a id="dd2_g1_i3" href="#noscroll">Item 3</a>
					</li>
				</ul>
				<hr>
				<ul>
					<li>
						<a id="dd2_g2_i1" href="#noscroll">Item 4</a>
					</li>
					<li>
						<a id="dd2_g2_i2" href="#noscroll">Item 5</a>
					</li>
					<li>
						<a id="dd2_g2_i3" href="#noscroll">Item 6</a>
					</li>
				</ul>
			</div>
		</details>

		<details class="dropdown" id="dropdown-3">
			<summary class="options">
				Options {{svg "octicon-triangle-down" 14}}
			</summary>
			<div class="content">
				<ul>
					<li>
						<a id="dd3_g1_i1" href="#noscroll">Only item</a>
					</li>
				</ul>
			</div>
		</details>
	</div>

	<h2>More actions</h2>
	<p>
		Often used in lists for every item or as overflow menus. Opener usually comes
		without explicit textual description but with a horizontal kebab icon and a
		border to look like something clickable and not just random dots.<br> Make
		sure that it has <code>aria-label</code> via <code>data-tooltip-content</code>
		so it is accessible to screen readers and has more meaning for regular users.
	</p>
	<div class="button-sequence">
		<details class="dropdown">
			<summary class="border" data-tooltip-content="{{ctx.Locale.Tr "profile.actions.tooltip"}}">
				{{svg "octicon-kebab-horizontal"}}
			</summary>
			<div class="content">
				<ul>
					<li>
						<a href="#noscroll">"Go to" action</a>
					</li>
					<li>
						<button type="button">Button action</button>
					</li>
				</ul>
			</div>
		</details>

		<details class="dropdown" id="dropdown-5">
			<summary class="border" data-tooltip-content="{{ctx.Locale.Tr "profile.actions.tooltip"}}">
				{{svg "octicon-kebab-horizontal"}}
			</summary>
			<div class="content">
				<span class="header">
					With header and hr
				</span>
				<hr>
				<ul>
					<li>
						<a id="dd5_g1_i1" href="#noscroll">"Go to" action</a>
					</li>
					<li>
						<button id="dd5_g1_i2" type="button">Button action</button>
					</li>
				</ul>
				<hr>
				<ul>
					<li>
						<button id="dd5_g2_i1" class="orange text">
							{{svg "octicon-blocked"}}
							Block
						</button>
					</li>
					<li>
						<a id="dd5_g2_i2" class="orange text" href="#noscroll">
							{{svg "octicon-stop"}}
							Report abuse
						</a>
					</li>
				</ul>
			</div>
		</details>
	</div>

	<h2>The Dialog Foundation</h2>
	<p>
		Currently unused because of Safari and because not all features are implemented. Uses completely different approach to open/close behavior.
	</p>
	<div class="button-sequence">
		<div class="dialog-dropdown">
			<button class="opener" command="show-popover" commandfor="dropdown-demo-dialog">
				Button
			</button>
			<dialog popover class="content" id="dropdown-demo-dialog" closedBy="any">
				<span class="header">
					With header and hr
				</span>
				<hr>
				<ul>
					<li>
						<a href="#noscroll">"Go to" action</a>
					</li>
					<li>
						<button type="button">Button action</button>
					</li>
				</ul>
				<hr>
				<ul>
					<li>
						<button class="orange text">
							{{svg "octicon-blocked"}}
							Block
						</button>
					</li>
					<li>
						<a class="orange text" href="#noscroll">
							{{svg "octicon-stop"}}
							Report abuse
						</a>
					</li>
				</ul>
			</dialog>
		</div>
	</div>

</div>

{{template "base/footer" .}}
