<p>{{ctx.Locale.Tr "auth.confirmation.sent" (HTMLFormat "<b>%s</b>" .Email)}}</p>
<p>{{ctx.Locale.Tr "auth.confirmation.activate_hint" .ActiveCodeLives}}</p>
<p>{{ctx.Locale.Tr "auth.confirmation.recovery_hint" .Name}}</p>
