{{template "admin/layout_head" (dict "ctxData" . "pageClass" "admin dashboard")}}
	<div class="admin-setting-content">
		{{if .NeedMajorUpdate}}
			<div class="ui negative message flash-error">
				<p>{{ctx.Locale.Tr "admin.dashboard.new_major_version_hint" .RemoteVersion AppVer "https://forgejo.org/releases/"}}</p>
			</div>
		{{else if .NeedMinorUpdate}}
			<div class="ui negative message flash-error">
				<p>{{ctx.Locale.Tr "admin.dashboard.new_minor_version_hint" .RemoteVersion AppVer "https://forgejo.org/releases/"}}</p>
			</div>
		{{else if .UpdateCheckerError}}
			<div class="ui negative message flash-error">
				<p>{{ctx.Locale.Tr "admin.dashboard.update_checker_error" .UpdateCheckerError "https://forgejo.org/releases/"}}</p>
			</div>
		{{end}}
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "admin.dashboard.operations"}}
		</h4>
		<div class="ui attached table segment">
			<form method="post" action="{{AppSubUrl}}/admin">
				<table class="ui very basic table tw-mt-0 tw-px-4">
					<tbody>
						{{range .Entries}}
							<tr>
								<td>{{ctx.Locale.Tr (printf "admin.dashboard.%s" .)}}</td>
								<td class="text right">
									<button type="submit" class="primary button" name="op" value="{{.}}">
										{{svg "octicon-play"}} {{ctx.Locale.Tr "admin.dashboard.operation_run"}}
									</button>
								</td>
							</tr>
						{{end}}
					</tbody>
				</table>
			</form>
		</div>

		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "admin.dashboard.system_status"}}
		</h4>
		{{/* TODO: make these stats work in multi-server deployments, likely needs per-server stats in DB */}}
		<div class="no-loading-indicator tw-hidden"></div>
		<div hx-get="{{$.Link}}/system_status" hx-swap="morph:innerHTML" hx-trigger="every 5s" hx-indicator=".no-loading-indicator" class="ui attached table segment">
			{{template "admin/system_status" .}}
		</div>
	</div>
{{template "admin/layout_footer" .}}
