{{if eq .PackageDescriptor.Package.Type "alt"}}
	<h4 class="ui top attached header">{{ctx.Locale.Tr "packages.installation"}}</h4>
	<div class="ui attached segment">
		<div class="ui form">
			<div class="field">
				<label>{{svg "octicon-terminal"}} {{ctx.Locale.Tr "packages.common.registry"}}</label>
				<div class="markup"><pre class="code-block"><code>{{- if gt (len .Groups) 1 -}}
# {{ctx.Locale.Tr "packages.alt.repository.multiple_groups"}}

{{end -}}
# {{ctx.Locale.Tr "packages.alt.setup"}}
{{- range $group := .Groups}}
	{{- if $group}}{{$group = print "/" $group}}{{end}}
apt-repo add rpm <origin-url data-url="{{AppSubUrl}}/api/packages/{{$.PackageDescriptor.Owner.Name}}/alt{{- if $group}}{{$group}}{{- else}}/alt{{- end}}.repo"></origin-url> _arch_ classic

{{- end}}</code></pre></div>
			</div>
			<div class="field">
				<label>{{svg "octicon-terminal"}} {{ctx.Locale.Tr "packages.alt.install"}}</label>
				<div class="markup">
					<pre class="code-block"><code># {{ctx.Locale.Tr "packages.common.install"}}
apt-get update
apt-get install {{$.PackageDescriptor.Package.Name}}</code></pre>
				</div>
			</div>
			<div class="field">
				<label>{{ctx.Locale.Tr "packages.registry.documentation" "ALT" (AppDocsURL "user/packages/alt/")}}</label>
			</div>
		</div>
	</div>

	<h4 class="ui top attached header">{{ctx.Locale.Tr "packages.common.repository"}}</h4>
	<div class="ui attached segment">
		<table class="ui single line very basic table">
			<tbody>
				<tr>
					<td class="collapsing"><h5>{{ctx.Locale.Tr "packages.alt.repository.architectures"}}</h5></td>
					<td>{{StringUtils.Join .Architectures ", "}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	{{if or .PackageDescriptor.Metadata.Summary .PackageDescriptor.Metadata.Description}}
		<h4 class="ui top attached header">{{ctx.Locale.Tr "packages.about"}}</h4>
		{{if .PackageDescriptor.Metadata.Summary}}<div class="ui attached segment">{{.PackageDescriptor.Metadata.Summary}}</div>{{end}}
		{{if .PackageDescriptor.Metadata.Description}}<div class="ui attached segment">{{.PackageDescriptor.Metadata.Description}}</div>{{end}}
	{{end}}
{{end}}
