<a class="ui icon tw-px-4 tw-py-2 show-modal" data-modal="#search-syntax-modal">{{svg "octicon-question"}}</a>
<dialog id="search-syntax-modal">
	<article>
		<header>{{ctx.Locale.Tr "search.syntax"}}</header>
		<div class="content">
			{{ctx.Locale.Tr "search.docs" "https://forgejo.org/docs/latest/user/search/issue-search/"}}
			<dl class="search-syntax-list">
					{{range $filter, $tr :=
						dict
							"is:open" (ctx.Locale.TrString "repo.issues.open_title")
							"is:closed" (ctx.Locale.TrString "repo.issues.closed_title")
							"is:all" (ctx.Locale.TrString "repo.issues.all_title")
							"author:<username>" (ctx.Locale.TrString "repo.issues.filter_poster.hint")
							"assignee:<username>" (ctx.Locale.TrString "repo.issues.filter_assignee.hint")
							"review:<username>" (ctx.Locale.TrString "repo.issues.filter_reviewers.hint")
							"mentions:<username>" (ctx.Locale.TrString "repo.issues.filter_mention.hint")
							"sort:<by>:[asc|desc]" (ctx.Locale.Tr "repo.issues.filter_sort.hint_with_placeholder" (HTMLFormat "<code>created|comments|updated|deadline</code>"))
							"modified:[>|<]<date>" (ctx.Locale.TrString "repo.issues.filter_modified.hint")
							"\"forgejo\"" (ctx.Locale.TrString "search.match_inside_quotes")}}
						<div class="row">
							<dt><code>{{$filter}}</code></dt>
							<dd>{{$tr}}</td>
						</div>
					{{end}}
			</dl>
		</div>
		<footer class="actions">
			<button class="secondary button cancel">{{ctx.Locale.Tr "settings.cancel"}}</button>
		</footer>
	</article>
</dialog>
