{{if eq .ID -1}}
	<a class="author text black tw-font-semibold muted"
		data-tooltip-content="{{ctx.Locale.Tr "user.ghost.tooltip"}}">Ghost</a>
{{else}}
	{{$pronouns := .GetPronouns ctx.Data.IsSigned}}
	<a class="author text black tw-font-semibold muted"{{if gt .ID 0}} href="{{.HomeLink}}"{{end}}>{{if $pronouns}} {{ctx.Locale.Tr "name_with_pronouns" .GetDisplayName $pronouns}}{{else}}{{.GetDisplayName}}{{end}}</a>
	{{if .IsBot}}<span class="ui basic label tw-p-1 tw-align-baseline">bot</span>{{end}}
{{end}}
