<div class="pull-list-merge-actions tw-flex tw-items-center tw-gap-2">
	<button type="button" class="ui primary button" id="pull-list-merge-button" disabled data-label="{{ctx.Locale.Tr "repo.pulls.bulk_merge"}}" data-unavailable="{{ctx.Locale.Tr "repo.pulls.bulk_merge_unavailable"}}">
		{{svg "octicon-git-merge" 16}}<span>{{ctx.Locale.Tr "repo.pulls.bulk_merge" 0}}</span>
	</button>
	<button type="button" class="ui basic button" id="pull-list-merge-clear" disabled>{{ctx.Locale.Tr "repo.pulls.bulk_merge_clear"}}</button>
</div>
