<h4 class="ui top attached header" id="overview">
	{{ctx.Locale.Tr "repo.settings.units.overview"}}
</h4>
<div class="ui attached segment">
	{{$isCodeEnabled := .Repository.UnitEnabled $.Context $.UnitTypeCode}}
	{{$isCodeGlobalDisabled := .UnitTypeCode.UnitGlobalDisabled}}
	<div class="inline field">
		<label>{{ctx.Locale.Tr "repo.code"}}</label>
		<div class="ui checkbox{{if $isCodeGlobalDisabled}} disabled{{end}}"{{if $isCodeGlobalDisabled}} data-tooltip-content="{{ctx.Locale.Tr "repo.unit_disabled"}}"{{end}}>
			<input class="enable-system" name="enable_code" type="checkbox"{{if $isCodeEnabled}} checked{{end}}>
			<label>{{ctx.Locale.Tr "repo.code.desc"}}</label>
		</div>
	</div>

	{{$isProjectsEnabled := .Repository.UnitEnabled $.Context $.UnitTypeProjects}}
	{{$isProjectsGlobalDisabled := .UnitTypeProjects.UnitGlobalDisabled}}
	<div class="inline field">
		<label>{{ctx.Locale.Tr "repo.projects"}}</label>
		<div class="ui checkbox{{if $isProjectsGlobalDisabled}} disabled{{end}}"{{if $isProjectsGlobalDisabled}} data-tooltip-content="{{ctx.Locale.Tr "repo.unit_disabled"}}"{{end}}>
			<input class="enable-system" name="enable_projects" type="checkbox" {{if $isProjectsEnabled}}checked{{end}}>
			<label>{{ctx.Locale.Tr "repo.settings.projects_desc"}}</label>
		</div>
	</div>

	{{$isReleasesEnabled := .Repository.UnitEnabled $.Context $.UnitTypeReleases}}
	{{$isReleasesGlobalDisabled := .UnitTypeReleases.UnitGlobalDisabled}}
	<div class="inline field">
		<label>{{ctx.Locale.Tr "repo.releases"}}</label>
		<div class="ui checkbox{{if $isReleasesGlobalDisabled}} disabled{{end}}"{{if $isReleasesGlobalDisabled}} data-tooltip-content="{{ctx.Locale.Tr "repo.unit_disabled"}}"{{end}}>
			<input class="enable-system" name="enable_releases" type="checkbox" {{if $isReleasesEnabled}}checked{{end}}>
			<label>{{ctx.Locale.Tr "repo.settings.releases_desc"}}</label>
		</div>
	</div>

	{{$isPackagesEnabled := .Repository.UnitEnabled $.Context $.UnitTypePackages}}
	{{$isPackagesGlobalDisabled := .UnitTypePackages.UnitGlobalDisabled}}
	<div class="inline field">
		<label>{{ctx.Locale.Tr "repo.packages"}}</label>
		<div class="ui checkbox{{if $isPackagesGlobalDisabled}} disabled{{end}}"{{if $isPackagesGlobalDisabled}} data-tooltip-content="{{ctx.Locale.Tr "repo.unit_disabled"}}"{{end}}>
			<input class="enable-system" name="enable_packages" type="checkbox" {{if $isPackagesEnabled}}checked{{end}}>
			<label>{{ctx.Locale.Tr "repo.settings.packages_desc"}}</label>
		</div>
		{{if (and .Repository.IsPrivate .Repository.Owner.Visibility.IsPublic)}}
			<span class="ui yellow label warning">
				{{svg "octicon-alert"}}
				{{ctx.Locale.Tr "repo.packages.visibility_warning" .Repository.OwnerName}}
			</span>
		{{end}}
	</div>

	{{if .EnableActions}}
		{{$isActionsEnabled := .Repository.UnitEnabled $.Context $.UnitTypeActions}}
		{{$isActionsGlobalDisabled := .UnitTypeActions.UnitGlobalDisabled}}
		<div class="inline field">
			<label>{{ctx.Locale.Tr "actions.actions"}}</label>
			<div class="ui checkbox{{if $isActionsGlobalDisabled}} disabled{{end}}"{{if $isActionsGlobalDisabled}} data-tooltip-content="{{ctx.Locale.Tr "repo.unit_disabled"}}"{{end}}>
				<input class="enable-system" name="enable_actions" type="checkbox" {{if $isActionsEnabled}}checked{{end}}>
				<label>{{ctx.Locale.Tr "repo.settings.actions_desc"}}</label>
			</div>
		</div>
		{{if .ActionsCrossRepoAccessEnabled}}
			{{$actionsUnit := .Repository.MustGetUnit $.Context $.UnitTypeActions}}
			<div class="field">
				<label>{{ctx.Locale.Tr "repo.settings.actions_access_scope"}}</label>
				<div class="ui dropdown selection">
					<select name="actions_access_scope">
						<option value="" {{if eq $actionsUnit.ActionsConfig.AccessScope "same-owner"}}{{else if eq $actionsUnit.ActionsConfig.AccessScope "same-org"}}{{else}}selected{{end}}>{{ctx.Locale.Tr "repo.settings.actions_access_scope.none"}}</option>
						<option value="same-owner" {{if eq $actionsUnit.ActionsConfig.AccessScope "same-owner"}}selected{{end}}>{{ctx.Locale.Tr "repo.settings.actions_access_scope.same_owner"}}</option>
						<option value="same-org" {{if eq $actionsUnit.ActionsConfig.AccessScope "same-org"}}selected{{end}}>{{ctx.Locale.Tr "repo.settings.actions_access_scope.same_org"}}</option>
					</select>{{svg "octicon-triangle-down" 14 "dropdown icon"}}
				</div>
				<p class="help">{{ctx.Locale.Tr "repo.settings.actions_access_scope_desc"}}</p>
			</div>
		{{end}}
	{{end}}

	<div class="divider"></div>

	<div class="field">
		<button class="ui primary button">{{ctx.Locale.Tr "repo.settings.update_settings"}}</button>
	</div>
</div>
