.file-view tr.active {
  color: inherit !important;
  background: inherit !important;
}

.lines-escape {
  width: 0;
}

.lines-code {
  padding-inline-start: 5px;
}

.file-view tr.active .lines-num,
.file-view tr.active .lines-escape,
.file-view tr.active .lines-code {
  background: var(--color-highlight-bg) !important;
}

.file-view tr.active:last-of-type .lines-code {
  border-end-end-radius: var(--border-radius);
}

.file-view tr.active .lines-num {
  position: relative;
}

.file-view tr.active .interact-bg:hover {
  background: var(--color-primary-alpha-50) !important;
}

.file-view tr.active .lines-num::before {
  content: "";
  position: absolute;
  inset-inline-start: 0;
  width: 2px;
  height: 100%;
  background: var(--color-highlight-fg);
}

.font-preview {
  padding: 1rem;
  font-family: preview-font, var(--fonts-regular), sans-serif;
}

.font-preview .font-viewer-sample {
  font-size: 28px;
}

.font-preview .font-viewer-size {
  color: var(--color-text-light-2);
}
