{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content organization invite">
	<div class="ui container">
		{{template "base/alert" .}}
		<div class="invite-content">
			<hgroup>
				<div>{{ctx.AvatarUtils.Avatar .Organization 140}}</div>
				<h2>{{ctx.Locale.Tr "org.teams.invite.title" .Team.Name .Organization.Name}}</h2>
			</hgroup>

			<p>{{ctx.Locale.Tr "org.teams.invite.by" .Inviter.Name}}</p>

			<div class="ui form">
				<form id="accept_form" action="" method="post"></form>
				<form id="decline_form" action="{{.DeclineURL}}" method="post"></form>
				<div class="inline field">
					<div class="ui checkbox">
						<input type="checkbox" form="accept_form" name="hide_membership" id="hide_membership" {{if .HiddenMembership}}checked{{end}} />
						<label for="hide_membership">{{ctx.Locale.Tr "org.teams.hide_membership_to_org" .Organization.Name}}</label>
					</div>
				</div>
				<div class="button-sequence tw-justify-center">
					<button class="secondary button" form="decline_form">{{ctx.Locale.Tr "org.teams.decline_invitation"}}</button>
					<button class="primary button" form="accept_form">{{ctx.Locale.Tr "org.teams.join"}}</button>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
